# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.venv_win/

# PyInstaller / Скомпільовані файли
build/
dist/
*.spec

# IDE
.vscode/
.DS_Store

# Database & Logs
db/pgdata/
db/logs/*.log
!db/logs/.gitkeep